.breadcrumbs
  font-size: 16px
  font-weight: 500
  line-height: 14.4px
  letter-spacing: -0.04em
  color: $primary
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 12px
  margin-bottom: 28px

.breadcrumbs__item_first
  width: 24px
  height: 24px
  +svg

.breadcrumbs__item:not(.breadcrumbs__item_first)
  margin-top: 5px

.breadcrumbs__item
  position: relative

.breadcrumbs__item:before
  content: '•'
  margin-right: 12px

.breadcrumbs__item:nth-child(1):before,
.breadcrumbs__item:nth-child(2):before
  display: none

.breadcrumbs__item_last
  color: #A6A6A6

+mq(tablet, max)
  .breadcrumbs__item_last
    display: none

+mq(tablet)
  .breadcrumbs
    margin-bottom: 32px
