@import "../header-logo/header-logo"
@import "../header-toggle/header-toggle"
@import "../header-contacts/header-contacts"
@import "../header-menu/header-menu"
@import "../header-modal/header-modal"
@import "../header-modal-contacts/header-modal-contacts"
@import "../header-modal-menu/header-modal-menu"

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  border-radius: 0 0 32px 32px
  transition: background-color $default-transition, transform $default-transition

.header_fixed
  background-color: #fff

.header_homepage.header_fixed
  background-color: $primary

.header_homepage .header-inner
  border-bottom-color: transparent

.header-inner
  padding: 16px 0
  display: flex
  align-items: center
  border-bottom: 1px solid $border-color

.header-content
  display: flex
  align-items: center


+mq(tablet)
  .header-inner
    padding-top: 20px

  .header-content
    gap: 32px

+mq(desktop, max)
  .header_fixed
    transform: translateY(calc(-100% - 100px))

  .header_fixed.header_scroll-up
    transform: translateY(0)

+mq(desktop)
  .header-container
    max-width: 1760px

  .header-inner
    padding: 24px 0 20px

  .header-content
    width: 100%
    min-width: 0
    justify-content: space-between
