@import "../header-logo/header-logo"
@import "../header-toggle/header-toggle"
@import "../header-contacts/header-contacts"
@import "../header-menu/header-menu"
@import "../header-modal/header-modal"
@import "../header-modal-contacts/header-modal-contacts"
@import "../header-modal-menu/header-modal-menu"

.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 1000
  border-radius: 0 0 32px 32px
  transition: background-color $default-transition, transform $default-transition


.header_fixed .header-inner
  border-color: transparent

.header_homepage .header-inner
  border-bottom-color: transparent

.header-inner
  padding: 8px 0
  display: flex
  align-items: center
  border-bottom: 1px solid $border-color

.header-content
  display: flex
  align-items: center
  border-radius: 24px
  padding: 4px
  margin-right: -4px
  transition: background-color $default-transition

+mq(tablet, max)
  .header_homepage.header_fixed .header-content
    background-color: transparent

+mq(tablet)
  .with-fancybox .header
    padding-right: var(--scrollbar-width)

  .header-inner
    padding: 16px 0

  .header-content
    gap: 32px
    padding-left: 28px
    border-radius: 28px

+mq(desktop, max)
  .header_fixed
    transform: translateY(calc(-100% - 100px))

  .header_fixed.header_scroll-up
    transform: translateY(0)

  .header_fixed .header-content
    background-color: #fff

+mq(desktop)
  .header-container
    max-width: 1760px
    padding-top: 8px
    padding-bottom: 8px

  .header_fixed .header-inner
    background-color: #fff
    border-radius: 42px
    transition: background-color $default-transition, border-radius 0s

  .header-inner
    padding: 4px
    margin: 0 -4px
    transition: background-color $default-transition, border-radius 0s $default-transition

  .header-content
    width: 100%
    min-width: 0
    justify-content: space-between
    margin: 0
    padding: 0