{{#items.isNotEmpty}}
    <div class="swiper article-slider">
        <div class="swiper-wrapper">
            {{#items}}
                <div class="swiper-slide article-slide">
                    <div class="article-slide-image">
                        <picture class="article-slide-image__picture">
                            {{#mobileSrc}}<source srcset="{{.}}" media="(max-width: 767px)">{{/mobileSrc}}
                            {{#tabletSrc}}<source srcset="{{.}}" media="(max-width: 1279px)">{{/tabletSrc}}
                            <img src="{{src}}" alt="{{alt}}" class="article-slide-image__img" loading="lazy">
                            {{#realSrc}}
                                <a href="{{.}}" class="link-as-card" data-fancybox></a>
                            {{/realSrc}}
                        </picture>
                    </div>
                    <div class="article-slide__description">{{{description}}}</div>
                </div>
            {{/items}}
        </div>
        <div class="article-slider-nav">
            <button class="article-slider__arrow article-slider__arrow_prev" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="#A6A6A6" stroke-linecap="square" stroke-width="2"
                          d="m12 19-7-7m0 0 7-7m-7 7h14"/>
                </svg>
            </button>
            <button class="article-slider__arrow article-slider__arrow_next" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="#A6A6A6" stroke-linecap="square" stroke-width="2"
                          d="m12 5.001 7 7m0 0-7 7m7-7H5"/>
                </svg>
            </button>
        </div>
    </div>
{{/items.isNotEmpty}}