{{#items.isNotEmpty}}
    <nav class="breadcrumbs">
        {{#items}}
            {{^isLast}}
                {{#isFirst}}
                    <a href="{{{href}}}" class="breadcrumbs__item breadcrumbs__item_first">
                        {{{icon}}}
                    </a>
                {{/isFirst}}
                {{^isFirst}}
                    <a href="{{{href}}}" class="breadcrumbs__item">
                        {{{text}}}
                    </a>
                {{/isFirst}}
            {{/isLast}}
            {{#isLast}}
                <span class="breadcrumbs__item breadcrumbs__item_last">
                    {{{text}}}
                </span>
            {{/isLast}}
        {{/items}}
    </nav>
{{/items.isNotEmpty}}
{{#schema}}
    <script type="application/ld+json" data-skip-moving="true">{{{.}}}</script>
{{/schema}}