<div class="header-toggle">
    <button class="header-toggle__button" type="button">
        <span class="header-toggle__title">Меню</span>
        <span class="header-toggle-icon">
            <span class="header-toggle-hamburger"></span>
        </span>
    </button>
</div>