{{#items.isNotEmpty}}
    <div class="header-modal-contacts">
        {{#items}}
            <div class="header-modal-contact{{#socials.isNotEmpty}} header-modal-contact_socials{{/socials.isNotEmpty}}">
                <div class="header-modal-contact-inner">
                    <div class="header-modal-contact-title-container">
                        {{#title}}
                            <div class="header-modal-contact__title">
                                {{{.}}}
                            </div>
                        {{/title}}
                        <div class="header-modal-contact-title-filler"></div>
                    </div>
                    <div class="header-modal-contact__value">
                        {{#socials.isNotEmpty}}
                            <div class="header-modal-contacts-socials">
                                {{#socials}}
                                    <div class="header-modal-contacts-social">
                                        <!--noindex-->
                                        <a href="{{href}}" class="header-modal-contacts-social__link" rel="nofollow"
                                           target="_blank">{{{text}}}</a>
                                        <!--/noindex-->
                                    </div>
                                {{/socials}}
                            </div>
                        {{/socials.isNotEmpty}}
                        {{#link}}
                            <!--noindex-->
                            <a href="{{href}}" class="header-modal-contact__link" rel="nofollow">{{{text}}}</a>
                            <!--/noindex-->
                        {{/link}}
                        {{^link}}
                            {{{text}}}
                        {{/link}}
                    </div>
                </div>
            </div>
        {{/items}}
    </div>
{{/items.isNotEmpty}}