{{#tabs.isNotEmpty}}
    <div class="homepage-features-tabs swiper">
        <div class="swiper-wrapper">
            {{#tabs}}
                <div class="homepage-features-tab{{#active}} homepage-features-tab_active{{/active}}"{{#tab}} data-tab="{{.}}"{{/tab}}>
                    {{{title}}}
                </div>
            {{/tabs}}
        </div>
    </div>
{{/tabs.isNotEmpty}}