{{#items.isNotEmpty}}
    <div class="swiper homepage-region-gallery">
        <div class="swiper-wrapper">
            {{#items}}
                <div class="swiper-slide homepage-region-gallery-item">
                    {{#image}}
                        <picture class="homepage-region-item__picture">
                            {{#mobileSrc}}
                                <source srcset="{{.}}" media="(max-width: 767px)">
                            {{/mobileSrc}}
                            {{#tabletSrc}}
                                <source srcset="{{.}}" media="(max-width: 1279px)">
                            {{/tabletSrc}}
                            <img src="{{src}}" alt="{{alt}}" class="homepage-region-gallery-item__img" loading="lazy">
                        </picture>
                    {{/image}}
                </div>
            {{/items}}
        </div>
    </div>
    <div class="homepage-region-slider-wrapper">
        {{#title}}
            <div class="homepage-region__title">
                <div class="homepage-region__title-bg"></div>
                <div class="container homepage-region-title-container">
                    {{{.}}}
                </div>
            </div>
        {{/title}}
        <div class="swiper homepage-region-slider">
            <div class="swiper-wrapper">
                {{#items}}
                    <div class="swiper-slide homepage-region-slide"{{#strMainId}} id="{{.}}"{{/strMainId}}>
                        <div class="container homepage-region-slide-container">
                            {{#icon}}
                                <div class="homepage-region-slide__icon">{{{.}}}</div>
                            {{/icon}}
                            <div class="homepage-region-slide-content">
                                {{#title}}
                                    <div class="homepage-region-slide__title">{{{.}}}</div>
                                {{/title}}
                                {{#text}}
                                    <div class="homepage-region-slide__text">{{{.}}}</div>
                                {{/text}}
                            </div>
                        </div>
                    </div>
                {{/items}}
            </div>
            <div class="container homepage-region-slider-nav-container">
                <div class="homepage-region-slider-nav">
                    <button class="homepage-region-slider__arrow homepage-region-slider__arrow_prev" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="#005DE9" stroke-linecap="square" stroke-width="2"
                                  d="m12 19-7-7m0 0 7-7m-7 7h14"/>
                        </svg>
                    </button>
                    <button class="homepage-region-slider__arrow homepage-region-slider__arrow_next" type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="#005DE9" stroke-linecap="square" stroke-width="2"
                                  d="m12 5.001 7 7m0 0-7 7m7-7H5"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
{{/items.isNotEmpty}}