@import "../footer-logo/footer-logo"
@import "../footer-contacts/footer-contacts"

.footer
  position: relative
  margin-top: auto
  padding-top: 20px
  color: #fff
  overflow: hidden

.footer:before
  content: ''
  +absoluteFluid
  background-color: $primary
  border-radius: 32px 32px 0 0
  z-index: -2

.footer-inner
  position: relative

.footer-bg
  position: absolute
  top: 0
  left: 20px
  width: 372px
  height: 229px
  z-index: -1

.footer-bg__map
  width: 100%
  height: 100%
  +svg

.footer-bg__heart
  position: absolute
  bottom: 20px
  right: 90px
  width: 23px
  height: 21px
  +svg

.footer__title
  font-size: 30px
  font-weight: 600
  line-height: 1
  letter-spacing: -0.04em
  em
    font-family: $playfair-font
    font-size: 31px
    font-style: italic
    font-weight: 500
    letter-spacing: -0.02em


.footer-button-container
  margin-top: 24px

.footer__button
  display: flex
  align-items: center
  color: $primary
  font-size: 18px
  font-weight: 600
  line-height: 1
  letter-spacing: -0.04em
  border-radius: 56px
  border: 4px solid #fff
  padding: 2px

.footer__button-inner
  display: flex
  align-items: center
  background-color: #fff
  padding: 6px 6px 6px 48px
  border-radius: 56px
  gap: 16px

.footer__button-icon
  width: 40px
  height: 40px
  background-color: $primary
  padding: 10px
  border-radius: 50%
  +svg

.footer-bottom
  margin-top: 44px
  padding-bottom: 16px

.footer-dev
  font-size: 16px
  line-height: 1
  letter-spacing: -0.04em
  display: flex
  gap: 4px

.footer-dev a
  font-family: $playfair-font
  font-style: italic
  font-weight: 600

.footer-copyright
  margin-top: 12px
  border-top: 1px solid transparentize(#fff, 0.76)
  padding-top: 12px
  color: transparentize(#fff, 0.36)
  font-size: 12px
  line-height: 1
  letter-spacing: -0.04em

+mq(tablet)
  .footer
    padding-top: 64px

  .footer:before
    border-radius: 48px 48px 0 0

  .footer-bg
    top: 64px
    left: auto
    right: 16px
    width: 529px
    height: 327px

  .footer-bg__heart
    width: 38px
    height: 38px
    right: 140px
    bottom: 25px

  .footer-top
    display: flex
    justify-content: space-between
    gap: 70px

  .footer__title
    font-size: 48px
    em
      font-size: 48px

  .footer-button-container
    margin-top: 40px

  .footer-bottom
    margin-top: 64px
    border-top: 1px solid transparentize(#fff, 0.76)
    padding-top: 16px
    padding-bottom: 20px
    display: flex
    align-items: center

  .footer-copyright
    border-top: none
    margin-top: 0
    padding-top: 0
    width: 280px
    font-size: 14px
    order: -1

  .footer-dev
    margin-left: auto
    font-size: 20px

+mq(desktop)
  .footer
    padding-top: 80px

  .footer:before
    border-radius: 60px 60px 0 0

  .footer-container
    max-width: 1760px

  .footer-bg
    top: -20px
    right: 40px
    width: 700px
    height: 436px

  .footer-bg__heart
    width: 48px
    height: 48px
    right: 188px
    bottom: 30px

  .footer__title
    font-size: 60px
    em
      font-size: 60px
  .footer-button-container
    margin-top: 48px

  .footer__button
    font-size: 20px
    border-width: 4px
    padding: 3px

  .footer__button-inner
    padding: 9px 9px 9px 46px
    transition: background-color $default-transition, color $default-transition

  .footer__button:hover .footer__button-inner
    background-color: $primary
    color: #fff

  .footer-bottom
    margin-top: 56px
    padding-bottom: 24px

  .footer-copyright
    width: auto
    font-size: 16px

  .footer-dev
    gap: 8px
    font-size: 20px

  .footer-dev a
    transition: color $default-transition

  .footer-dev a:hover
    color: transparentize(#fff, 0.36)

+mq(wide-screen)
  .footer
    padding-top: 96px

  .footer:before
    border-radius: 80px 80px 0 0

  .footer-bg
    top: -40px
    right: 106px
    width: 904px
    height: 559px

  .footer-bg__heart
    width: 56px
    height: 56px
    right: 252px
    bottom: 48px

  .footer__title
    font-size: 80px
    em
      font-size: 80px