.header-logo
  position: relative
  width: 64px
  height: 64px
  background-color: transparent
  border-radius: 50%
  padding: 12px
  margin-left: -12px
  margin-right: auto
  flex-shrink: 0
  transition: background-color $default-transition, margin-left $default-transition
  +svg
  path
    transition: $default-transition

.header_fixed .header-logo
  background-color: #fff
  margin-left: 0

.header-modal .header-logo
  width: auto
  height: 48px
  background-color: transparent
  padding: 0
  margin-left: 0

.header_homepage .header-logo path
  fill: #fff

+mq(tablet)
  .header-logo
    width: 72px
    height: 72px

+mq(desktop, max)
  .header_homepage.header_fixed .header-logo path
    fill: $primary

+mq(desktop)
  .header-logo
    margin-right: 70px

  .header_fixed .header-logo
    background-color: $primary
    path
      fill: #fff